*.gem
*.rbc
*.sassc
.DS_Store
.bundle
.config
.rspec
.rvmrc
.sass-cache
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
capybara-*.html
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/tmp
test/tmp
test/version_tmp
tmp
vendor/bundle
.credentials
